html,
body {
  margin: 0;
  background-color: #25003a;
  overflow: hidden;
}

canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #25003a;
  overflow: hidden;
}